/*----------------------------------------------------------------------------------------------------------------*/
/* Body properties */
/*----------------------------------------------------------------------------------------------------------------*/


body {
    background-color: #F2F6FA;                      /* Kleur achtergrond: grijs */
    font-family: ubuntu-regular, Arial sans-serif;  /* Font style ubuntu-Regular*/
    font-size: 12px;
}


a{
    color: white;
    text-decoration: none;
}

a:hover {
    color: black;
}

.breadcrumb {
    color: #9b9b9b ;                    /* Kruimelpad tekst kleur*/
}

.menu-login {
    background-color: white;            /* Achtergrondkleur */
    display: inline-block;
    left: 30%;                          /* plek op pagina   */
    top: 30%;                           /* plek op pagina   */
    position: fixed;                    /* Vastzetten       */
    height: 35%;                        /* Hoogte           */
    width: 30%;                         /* Breedte          */
}


.userinformation {
    width: 10%;                         /* breedte v/d tekst */
    margin-left: 10%;                   /* Plek in menu */
    margin-top: 4%;                     /* Plek in menu */
}

.userinformation ul li{
            list-style-type: none;
    /*font-weight: bold;*/


}

/** van create.css */

.user_input {
    width: 60%;                         /* breedte v/d tekst */
    margin-left: 10%;                   /* Plek in menu */
    margin-top: 4%;                     /* Plek in menu */
}
.menu_login{
    background-color: #B4C0CC;          /* Achtergrondkleur     */
    display: inline-block;
    left: 49%;                          /* plek in menu         */
    top: 55%;                           /* plek in menu         */
    position: fixed;                    /* Vastzetten           */
    height: 6%;                         /* Hoogte               */
    width: 10%;                         /* Breedte              */
}

.inlog-container {
  /* border-style: solid; */
  margin-left: 35%;
  margin-top: 20%;
  width: 30%;
  display: block;
}

.inlog-container-logo {

  border-style: solid;

}

.inlog-container-input {
  border-style: solid;
}

.inlog-container-button {
  border-style: solid;
}



/*----------------------------------------------------------------------------------------------------------------*/
/* Button properties */
/*----------------------------------------------------------------------------------------------------------------*/


.submit_button {
    position: absolute;
    color: red;                         /* letterkleur      */
    font-size: 25%;                     /* lettergrote      */
    margin-top: 3%;                     /* plek in menu     */
    margin-left: 40%;                   /*  plek in menu     */
}


/*----------------------------------------------------------------------------------------------------------------*/
/* id properties */
/*----------------------------------------------------------------------------------------------------------------*/


#paragraaf{
    margin-left: 4%;                    /* plek in menu     */
}

#title {
    color: red;                         /* letterkleur      */
    font-size: 155%;                    /* lettergrote      */
    margin-top: 5%;                     /* plek in menu     */
    margin-left: 37%;                   /* plek in menu     */
}

#login_button {
    font-size: 90%;                    /* lettergrote      */
    margin-top: 5%;                     /* plek in menu     */
    margin-left: 4%;                    /* plek in menu     */
    background-color: #99AFC6; /* primary button navy light*/
    border: 1px solid #99AFC6; /* outline */
    color: white;
    padding: 2% 2%;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    /*margin-left: 2%;*/
    font-family: ubuntu-regular;
    font-weight: bold;

}





