:root {
	--myBit-red: #EB1313;
	--myBit-background: #F2F6FA;
    --myBit-text: #CBCBCB;
}

@font-face {
	font-family: "ubuntu-regular";
	src: url("../res/Ubuntu-R.ttf");
}

#headerbody{
    border-bottom: 1px solid var(--myBit-text);
}

#compleet{
    margin-left: 12.5%;
    margin-right: 12.5%;
    padding-top: 20px;

}


#logo {
	color: var(--myBit-red);
	float: left;
	margin-top: -0.6%;
	margin-left: 20px;
	font-family: ubuntu-regular;
  font-size: 200%;
  font-weight: bold;
}

#home-button {

    color: black;
    padding-bottom: 3px;

}

.mainmenu {
	list-style-type: none;
    margin:0;
    padding:0;
    list-style-type: none;
	margin: 50px;
	text-align: center;
	margin-top: -2%;
	margin-left: 150px;
	font-size: 120%;
    font-family: ubuntu-regular;
    padding-bottom: 10px;

}


.mainmenu li {
    display: inline-block;
	float: left;
	padding-left: 40px;

}


.mainmenu li a {
	color: var(--myBit-text);
	display: inline-block;
	text-decoration: none;
	padding: 0px 13px 25px 8px;

}

#hover:hover {
        border-bottom:1px solid #DCDCDC;

}

.mainmenu li:hover ul {
    display: block;
    width: 70px;
    list-style-type: none;
    text-align: left;


}



.mainmenu .active {
	color: var(--myBit-red);
    border-bottom: 3px solid red;

}


.hoofdmenu :hover{
      text-shadow:0 0 0.1px #DCDCDC, 0 0 0.1px #DCDCDC, 0 0 0.1px #DCDCDC;
/*        border-bottom: 3px solid red;*/


}

#home-button:hover{
    color: var(--myBit-red);
}

.dropdown-window {
    position: relative;
    display: inline-block;
    padding-top: 2px;
}

#dropdown-padding {
    padding-left: 0px;
}

.dropdown-content{
    display: none;
    position: absolute;
    background-color: white;
    color: black;
    font-size: 70%;
    min-width: 100px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    padding: 0px 5px;
    z-index: 1;
}


.dropdown-content li a{
    color: black;
    text-align: left;
    padding-top: 1px;
}

.dropdown-content li a:hover{
    color: var(--myBit-red);


}



/* Style the buttons */
/*
.btn {
  border: none;
  outline: none;
  padding: 10px 16px;
  cursor: pointer;
}
*/



/* Style the active class (and buttons on mouse-over)
om dit goed te laten werken veranderd je de class van gebruikers, klanten, omgeving naar "btn"*/
/*
.btn:active  {
    color: var(--myBit-red);
    border-bottom: 3px solid red;
}
*/
/* Style the hover naar dikgedrukt */
/*

.btn:hover{
      text-shadow:0 0 0.1px #DCDCDC, 0 0 0.1px #DCDCDC, 0 0 0.1px #DCDCDC
}
*/
