:root { 
	--myBit-red: #EB1313; 
	--myBit-background: #F2F6FA; 
	--myBit-text: #CBCBCB;
	--myBit-evenrows: #E2E9F0;
	--myBit-breadcrumbs: #9B9B9B;
}

@font-face {
	font-family: "ubuntu-regular";
	src: url("../res/Ubuntu-R.ttf");
	font-family: "ubuntu-medium";
	src: url("../res/Ubuntu-M.ttf");
}

#pageheader {
	padding-bottom: 1px;
}

#pagestyling {
	padding-top: 3%;
	padding-left -3%;
	background-color: var(--myBit-background);
	height: 75.5%;
}

#tabletitle {
	width: 100%;
	font-family: ubuntu-regular;
	font-size: 12px;
	color: var(--myBit-breadcrumbs);
	vertical-align: bottom;
}

#tabletitle p {
	font-family: ubuntu-regular;
	font-size: 18px;
	color: #000000;
	vertical-align: bottom;
}

#new-customer-button {
	padding-right: 1%;
	width: 35%;
	text-align: right;
}

table  {
  table-layout: auto;
  background-color: white;
  border-color: #E2E9F0;
  border-spacing: 0px;
  width: 75%;
  text-align: left;
  margin-left: 12.5%;
  margin-right: 12.5%; 
}

th {
  border-top: solid #E2E9F0 1px;
  border-bottom: solid #E2E9F0 1px;
  font-weight: bolder;
  padding-top: 10px;
  padding-bottom: 10px;
  vertical-align: bottom;
}

td {
  padding-top: 5px;
  border-bottom: solid #E2E9F0 1px;
  font-family: ubuntu-regular;
  font-size: 14px;
  color: #444444;
}

tr {
  position: relative;
  display: flex;
}

tr:nth-child(even) {
  background-color:var(--myBit-evenrows);
}

tr:hover {
  background-color: #fbfbfb; 
  box-shadow: 0px 2px 18px 0px rgba(0,0,0,0.5);
  -webkit-box-shadow: 0px 0px 27px -4px rgba(0,0,0,0.25);
  -moz-box-shadow: 0px 0px 27px -4px rgba(0,0,0,0.25);
  box-shadow: 0px 0px 27px -4px rgba(0,0,0,0.25);
  font-weight: bold;
  z-index: 2 !important;
}

#tablehead {
font-family: ubuntu-medium;
font-size: 12px;	
}

.klantnaam {
	width: 100%;
}
.editbutton {
	text-align: right;
	padding-right: 3px;
}

.editbutton img:last-child{
	display: none;
}

.editbutton:hover img:last-child {
	display: inline;
	cursor: pointer;
}

.editbutton:hover img:first-child {
	display: none;
}

.deletebutton{
	text-align: right;
	padding-right: 3px;
}

.deletebutton img:last-child{
	display: none;
}

.deletebutton:hover img:last-child {
	display: inline;
	cursor: pointer;
}

.deletebutton:hover img:first-child {
	display: none;
}

.new-customer-button {
  background-color: #99AFC6;
  color: white;
  margin-top: 10%;
  margin-left: 25%;
  border-radius: 2px;
  padding: 10px;
}

.new-customer-button:hover {
  border-color: #98AEC5;
  background-color: #638CB5;
  color: white;
  cursor: pointer;
}

