    

    
    body {background-color: #F2F5FA;}       /* Kleur achtergrond: grijs */


    .menu {
        background-color: white;            /* Achtergrondkleur */
        display: inline-block;
        font-family: Ariel;	                /* lettertype       */
        left: 30%;                          /* plek op pagina   */
        top: 30%;                           /* plek op pagina   */
        position: fixed;                    /* Vastzetten       */
        height: 35%;                        /* Hoogte           */
        width: 30%;                         /* Breedte          */      
    }


    #title {                      
        color: red;                         /* letterkleur      */
        font-size: 155%;                    /* lettergrote      */
        margin-top: 5%;                     /* plek in menu     */
        margin-left: 37%;                   /* plek in menu     */
    }

    .userinformation {
        width: 10%;                         /* breedte v/d tekst */
        font-size: %;                    /* lettergrote      */
        margin-left: 10%;                   /* Plek in menu */
        margin-top: 4%;                     /* Plek in menu */
    }

    .menu_login{
        background-color: #B4C0CC;          /* Achtergrondkleur     */
        display: inline-block;
        left: 49%;                          /* plek in menu         */
        top: 55%;                           /* plek in menu         */
        position: fixed;                    /* Vastzetten           */
        height: 6%;                         /* Hoogte               */
        width: 10%;                         /* Breedte              */ 
    }

    #login_button {                      
        font-size: 90%;                    /* lettergrote      */
        margin-top: 5%;                     /* plek in menu     */
        margin-left: 4%;                    /* plek in menu     */
    }

    a{
        color: white;
        text-decoration: none;
    }
    
    a:hover {
        color: black;
    }






    
