h1 {
  text-align: left;
  color: grey;
  font-size: 100%;
}

h2 {
  text-align: left;
  font-weight: bold;
}

body {
  font-family: ubuntu-regular;
  background-color: white;
}

table  {
  /* border-top: solid black 1px ; */
  border-color: #E2E9F0;
  /* border-bottom: solid black 1px; */
  border-spacing: 0px;
  width: 100%;
  text-align: left;
  table-layout: auto;
}

th {
  border-top: solid #E2E9F0 1px;
  border-bottom: solid #E2E9F0 1px;
  font-weight: bolder;
  padding-top: 10px;
  padding-bottom: 10px;
  flex: 1;
  padding-left: 10px;
}

td {
  flex:1;
  padding-top: 5px;
  padding-bottom: 5px;
  border-bottom: solid #E2E9F0 1px;
  padding-left: 10px;
}

thead{
  background-color: #F2F6FA;
}

tr {
  position: relative;
  display: flex
}

tr:nth-child(even) {
  background-color:rgba(242, 246, 250);
}



tr:hover {
  background-color: #fbfbfb;
  /*box-shadow: 0px 2px 18px 0px rgba(0,0,0,0.5);*/
  /*-webkit-box-shadow: 0px 0px 27px -4px rgba(0,0,0,0.25);*/
  /*-moz-box-shadow: 0px 0px 27px -4px rgba(0,0,0,0.25);*/
  /*box-shadow: 0px 0px 27px -4px rgba(0,0,0,0.25);*/
  -webkit-box-shadow: 0px 0px 35px -19px rgba(0,0,0,1);
  -moz-box-shadow: 0px 0px 35px -19px rgba(0,0,0,1);
  box-shadow: 0px 0px 35px -19px rgba(0,0,0,1);
  font-weight: bold;
  z-index: 2 !important;
}

/* i {
  margin: 0 auto;
} */

.editbutton{
  text-align: right;
}

.editbutton img:last-child{
  display: none;
}

.editbutton:hover img:last-child {
  display: inline;
  cursor: pointer;
}

.editbutton:hover img:first-child {
  display: none;
}

.deletebutton{
  text-align: right;
  padding-right: 10px;
}

.deletebutton img:last-child{
  display: none;
}

.deletebutton:hover img:last-child {
  display: inline;
  cursor: pointer;
}

.deletebutton:hover img:first-child {
  display: none;
}

.icon-cell {
  text-align: right;
}

#klant-icon-cell{
  padding-left: 60%;
}

.content {
  grid-area: main;
  padding-left: 0px;
    border-bottom: none;



}

.header-mid {
  grid-area: header;
}

.header-left {
  grid-area: left;
  margin: 10px;
  padding-left: 0px;
    width: 200%;
    border-bottom: none;

}

.header-right {
  grid-area: right;
    padding-right: 150px;
    padding-top: 20px;
}

.grid-container {
  display: grid;
  grid-template-areas: 'left header header header header right' 'main main main main main main';
  /* margin-left: 151
  margin-right: 15%; */
  margin-top: 1.5%;
  margin-left: 12.5%;
  width: 75%;
  /*height*/
  background-color: white;
  padding-bottom: 10%;
  border: #E2E9F0  1px solid;
}

#overzicht-container {
  background-color: #F2F6FA;
  margin: 0px;
  padding-top: 5%;
}

.grid-container > div {
  /*background-color: rgba(255, 255, 255, 0.8);*/
  /*background-color: #F2F6FA;*/

  text-align: left;
  font-size: 15px;
}

.grid-container form {
    padding-left: 2%;
}


.new-user-button {
  background-color: #99AFC6;
  color: white;
  margin-top: 10%;
  margin-left: 25%;
  border-radius: 2px;
  padding: 10px;
    width: 200%;

}

.new-user-button:hover {
  border-color: #98AEC5;
  background-color: #638CB5;
  color: white;
  cursor: pointer;
}

#customerName{
  width: 120%;
margin-top: 15px;
}